# Pandas DataFrame
A two-dimensional labeled array with rows and columns
<br><b>Basic Syntax</b>: x = pd.DataFrame(data)

## <u>Libraries</u>

In [1]:
import pandas as pd

## <u>Create a Pandas Dataframe

In [2]:
## The dictionary does not have to be named "data" you could name this anything you like 
data = {
    'Names': ['Harry Potter', 'Luna Lovegood', 'Draco Malfoy', 'Cedric Diggory'],
    'Ages': [17,16,17,18],
    'Hogwarts Houses': ['Gryffindor', 'Ravenclaw', 'Slytherin', 'Hufflepuff']
}

In [3]:
df = pd.DataFrame(data)

In [4]:
df

            Names  Ages Hogwarts Houses
0    Harry Potter    17      Gryffindor
1   Luna Lovegood    16       Ravenclaw
2    Draco Malfoy    17       Slytherin
3  Cedric Diggory    18      Hufflepuff

## <u>Changing the Index

In [5]:
df.shape

(4, 3)

In [6]:
index_labels = ['a', 'b', 'c', 'd']

In [7]:
df.index = index_labels

In [8]:
df

            Names  Ages Hogwarts Houses
a    Harry Potter    17      Gryffindor
b   Luna Lovegood    16       Ravenclaw
c    Draco Malfoy    17       Slytherin
d  Cedric Diggory    18      Hufflepuff