# Pandas Series
A one-dimensional labeled array capable of holding any data type in Python
<br><b>Basic Syntax</b>: x = pd.Series(data, index)

## <u>Libraries</u>

In [1]:
import pandas as pd

## <u>How to Make a Pandas Series

### List

In [2]:
days = ['Monday', 'Tuesday','Wednesday', 'Thursday']

In [3]:
days_series = pd.Series(data=days)

In [4]:
days_series

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
dtype: object

In [7]:
index_labels = [4,6,2,8]

In [8]:
days_series_2 = pd.Series(data=days,
                         index=index_labels)

In [9]:
days_series_2

4       Monday
6      Tuesday
2    Wednesday
8     Thursday
dtype: object

In [10]:
days_series_3 = pd.Series(index_labels,days)

In [11]:
days_series_3

Monday       4
Tuesday      6
Wednesday    2
Thursday     8
dtype: int64

### Dictonary

In [12]:
groceries = {'bananas':3, 'oranges':2, 'apples': 5}

In [14]:
groceries_series = pd.Series(groceries)

In [15]:
groceries_series

bananas    3
oranges    2
apples     5
dtype: int64

## <u>Accessing Values

In [16]:
groceries_series

bananas    3
oranges    2
apples     5
dtype: int64

In [17]:
groceries_series['oranges']

2

In [18]:
days_series

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
dtype: object

In [20]:
days_series[1]

'Tuesday'

## <u>Slicing a Series

In [21]:
days_series[1:4]

1      Tuesday
2    Wednesday
3     Thursday
dtype: object

## <u>Adding Series Together

In [22]:
groceries_series_2 = pd.Series([2,4,5,3],['bananas', 'apples', 'oranges', 'pineapples'])

In [23]:
groceries_series_2

bananas       2
apples        4
oranges       5
pineapples    3
dtype: int64

In [24]:
groceries_series

bananas    3
oranges    2
apples     5
dtype: int64

In [25]:
all_groceries = groceries_series + groceries_series_2

In [26]:
all_groceries

apples        9.0
bananas       5.0
oranges       7.0
pineapples    NaN
dtype: float64

In [27]:
all_groceries['veggies'] = 15

In [28]:
all_groceries

apples         9.0
bananas        5.0
oranges        7.0
pineapples     NaN
veggies       15.0
dtype: float64

## <u>Applying Functions

In [29]:
groceries_series

bananas    3
oranges    2
apples     5
dtype: int64

In [34]:
gs = groceries_series.add(5)

In [36]:
groceries_series.subtract(10)

bananas   -7
oranges   -8
apples    -5
dtype: int64

In [37]:
groceries_series.min()

2

In [38]:
groceries_series.max()

5

In [39]:
groceries_series.sum()

10

In [40]:
groceries_series.unique()

array([3, 2, 5], dtype=int64)

In [41]:
groceries_series.sort_values()

oranges    2
bananas    3
apples     5
dtype: int64

In [42]:
groceries_series.sort_index()

apples     5
bananas    3
oranges    2
dtype: int64

## <u>Missing Values

In [43]:
all_groceries

apples         9.0
bananas        5.0
oranges        7.0
pineapples     NaN
veggies       15.0
dtype: float64

In [44]:
all_groceries.isnull()

apples        False
bananas       False
oranges       False
pineapples     True
veggies       False
dtype: bool

In [45]:
all_groceries.notnull()

apples         True
bananas        True
oranges        True
pineapples    False
veggies        True
dtype: bool

In [46]:
all_groceries.fillna(19)

apples         9.0
bananas        5.0
oranges        7.0
pineapples    19.0
veggies       15.0
dtype: float64

In [47]:
all_groceries.replace(9,3)

apples         3.0
bananas        5.0
oranges        7.0
pineapples     NaN
veggies       15.0
dtype: float64

## <u>Convert to Other Types

In [48]:
all_groceries.to_dict()

{'apples': 9.0,
 'bananas': 5.0,
 'oranges': 7.0,
 'pineapples': nan,
 'veggies': 15.0}

In [49]:
all_groceries.to_list()

[9.0, 5.0, 7.0, nan, 15.0]

In [50]:
all_groceries.to_frame(name = 'amount')

            amount
apples         9.0
bananas        5.0
oranges        7.0
pineapples     NaN
veggies       15.0

In [52]:
all_groceries.to_excel('groceriesList.xlsx')